.container-contact-localisation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
}

.container-contact-localisation-map {
    width: 50%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.container-contact-localisation-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.contact-localisation-img img {
    width: 50px;
    height: auto;
    margin-right: 20px;
}

.maps {
    height: 100%;
    width: 100%;
}

.container-contact-partenaire {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 38px;
}

.container-contact-partenaire-content {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 30%;
}

.container-contact-partenaire-content img {
    width: 80%;
}

@media screen and (max-width: 950px) {
    .container-contact-partenaire-content {
        width: 46%;
    }

    .container-contact-localisation {
        flex-direction: column;
    }

    .container-contact-localisation-map {
        width: 100%;
        height: 300px;
    }

    .container-contact-localisation-text {
        width: 100%;
    }
}

@media screen and (max-width: 550px) {
    .container-contact-partenaire-content {
        width: 100%;
    }
}