/* IMG HEADER */

.background-home-img {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

@media screen and (max-width: 950px) {
    .background-home-img {
        margin-top: 0px;
    }
}

/*Text img */
.container-text-home-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 82px;
    width: 100%;
}

.container-text-home-intro-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-text-home-intro img {
    height: auto;
    width: 50%;
    margin-top: -50px;
}

.container-text-home-intro-text {
    display: flex;
    text-align: center;
}

.container-text-home-intro h1 {
    font-family: "Amatic SC";
    font-size: 68px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 950px) {
    .container-text-home-intro img {
        margin-top: -40px;
        width: 100%;
    }
}

/* CONTAINER */

.container-paragraph-text {
    margin-top: 82px;
    width: 58.3%;
}

.container-paragraph-text-right {
    display: flex;
    text-align: right;
    flex-direction: row-reverse;
}

@media screen and (max-width: 950px) {
    .container-paragraph-text {
        width: 100%;
    }
}

/* CAROUSELLE */

.container-home-carousel {
    margin-bottom: 86px;
    position: relative;
    overflow: hidden;
}

.carousel {
    width: calc(100% - 120px);
    margin-left: 60px;
    display: flex;
    transition: transform 0.5s ease;
    overflow: hidden;
}


.carousel-slide {
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    transition: transform 0.5s ease;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.carousel-slide img {
    margin-left: 5%;
    max-width: 90%;
    height: auto;
    display: block;

}



.carousel-dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--gray);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: var(--orange);
}

.prev {
    left: 6vw;
}

.next {
    right: 6vw;
}

.prev img,
.next img {
    width: 40px;
    height: auto;
}

@media screen and (max-width: 1440px) {
    .prev {
        left: 2vw;
    }

    .next {
        right: 2vw;
    }
}

@media screen and (max-width: 950px) {
    .prev {
        left: 30px;
    }

    .next {
        right: 30px;
    }

    .prev img,
    .next img {
        width: 30px;
        height: auto;
    }

    .control {
        position: relative;
        bottom: 0;
        margin-top: 40px;
        width: 100%;
    }

    .carousel {
        width: 100%;
        margin-left: 0px;
        display: flex;
        transition: transform 0.5s ease;
        overflow: hidden;
    }

    .carousel-slide img {
        margin-left: 0%;
        max-width: 100%;


    }

    .container-text-home-intro h1 {
        font-size: 40px;
    }
}