@font-face {
    font-family: 'Lobster';
    src: url('Lobster-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.ttf') format('woff2');
}
@font-face {
    font-family: 'Amatic SC';
    src: url('AmaticSC-Bold.ttf') format('woff2');
}
h1 {
    color: #000;
    font-family: Lobster, sans-serif;
    font-size: 68px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 38px;
}

h2 {
    color: #000;
    font-family: Lobster, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 38px;
}

h3 {
    color: #000;
    font-family: Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


p {
    color: #000;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@media screen and (max-width: 950px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }
}