/* COULEUR */
:root {
    --orange: #ff8400;
    --gray: #1C1C1C;
}

/* CONTAINER */
.container-width {
    width: calc(100% - 120px);
    margin-left: 60px;
}

@media screen and (max-width: 950px) {
    .container-width {
        width: calc(100% - 40px);
        margin-left: 20px;

    }
}

/* HEADER */
header {
    top: 0;
    width: 100vw;
    height: 70px;
    position: fixed;
    z-index: 1001;
    background-color: white;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#menu-pc {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 70px;
    width: calc(100% - 160px);
}

#menu-pc img{
    width: auto;
    height: 80%;
}

#menu-tel {
    overflow-y: auto;
    display: none;
    flex-direction: row;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s;
    position: relative;
    background-color: white;
}

.menu-tel-nav {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.barre-toggle {
    height: 4px;
    width: 30px;
    border: 1px solid black;
    background-color: white;
    transition: transform 0.3s ease;
}

#menu-toggle {
    margin-top: 20px;
    height: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    right: 20px;
    position: fixed;
    cursor: pointer;
    z-index: 1001;
}

#menu-toggle.active .barre-toggle:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}

#menu-toggle.active .barre-toggle:nth-child(2) {
    opacity: 0;
}

#menu-toggle.active .barre-toggle:nth-child(3) {

    transform: rotate(-45deg) translate(6px, -5px);
}


@media screen and (max-width: 950px) {
    #menu-toggle {
        display: flex;
        cursor: pointer;
    }

    #menu-pc {
        display: none;
    }

    header {
        background-color: initial;
        height: auto;
    }
}

/* CONTENAIRE EVENT+CONTACT */
.projet-list {
    padding-top: 41px;
    padding-bottom: 41px;
    padding-left: 20px;
    border: 2px solid transparent;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 333px;
    border-bottom: 2px solid var(--orange);
    position: relative;
    transition: opacity 0.8s, transform 0.8s;
    z-index: 1000;
}

.espacement-projet-list-v {
    margin-top: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projet-list img {
    height: 100%;
    width: auto;
}

.img-link-project {
    right: 0px;
    position: absolute;
}


.title-explication {
    margin-top: 10px;
    width: calc(100% - 50px);
}

.projet-list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 38px;
}

.projet-list-top h2 {
    margin-bottom: 0px;
}

@media screen and (max-width: 980px) {
    .projet-list {
        flex-direction: column-reverse;
        position: static;
        height: auto;
    }

    .projet-list img {
        width: 100%;
        height: auto;
    }

    .img-link-project {
        margin-left: -20px;
        width: calc(100% + 20px);
        height: auto;
        position: static;
    }

    .title-explication {
        width: 100%;
    }

    .address {
        margin-top: 20px;
    }

    .bottom-projet-list {
        width: calc(100% - 20px);
    }

    .text {
        margin-left: -10px;
    }

}

/* FOOTER */
footer {
    border-top: 2px solid #F0B019;
    background-color: white;
    width: 100vw;
}

footer p {
    font-size: 16px;
    text-decoration: underline;
}

footer .reseaux img {
    width: 40px;
    height: auto;
}

.footer-espacment {
    margin-left: 60px;
}

.footer-container {
    display: flex;
    width: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-container-component {
    display: flex;
    align-items: start;
    flex-direction: column;

}

.footer-container-component .first {
    margin-bottom: 40px;
}

.footer-container-component-last {
    margin-left: 50px;
}

.footer-container-component-last p {
    margin-bottom: 4px;
}

.first-under {
    margin-bottom: 10px;
}

.footer-img {
    margin-bottom: 6px;
    display: flex;
}

.footer-img img {
    height: 80px;
    width: auto;
}

@media screen and (max-width: 980px) {
    .footer-espacment {
        margin-left: 20px;
        width: calc(100% - 40px);
    }

    .footer-container {
        text-align: center;
        width: 100%;
        flex-direction: column
    }

    .footer-container-component-last {
        margin-left: 0px;
    }

    .footer-container-component {
        align-items: center;
        margin-bottom: 36px;
    }
    .footer-img img {
        height: auto;
        margin-bottom: 5px;
        width: 96%;
    }
    .footer-img {
        height: auto;
        align-items: center;
        flex-direction: column;
    }
    .footer-women {
        width: 40% !important;
    }
}


/* Aparition */

.apparition {

    transition: opacity 0.8s, transform 0.8s;
}

/* ESPACEMENT */

.espacement-large {
    margin-top: 210px;
}

.espacement-mid {
    margin-top: 150px;
}

.espacement-short {
    margin-top: 60px;
}

.espacement-super-short {
    margin-top: 40px;
}

.espacement-header {
    margin-top: 120px;
}

@media screen and (max-width: 980px) {
    .espacement-large {
        margin-top: 150px;
    }

    .espacement-header {
        margin-top: 40px;
    }
}